<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
 <head>
<title>Index</title>
 </head>
 <body>
<h2>Welcome</h2>
<a href="/login">Login</a>
<a th:if="${#httpServletRequest.isUserInRole('ADMIN')}" href="/student/viewall">View
All Student</a><br/>
<div th:if="${#httpServletRequest.isUserInRole('USER') or #httpServletRequest.isUserInRole('ADMIN')}">
	<form th:action="@{/student/view/}" method="post" >
	<div><label> NPM : <input type="text" name="npm"/></label></div>
	<div><input type="submit" value="Lihat Data Student"/></div>
 </form>
</div>
 </body>
</html>